* {
    border: 1px dashed red;
}

header, footer {
    height: 100px;
}

nav {
    display: inline-block;
    width: 100%;
    height: 100%;
}

ul {
    display: inline-block;
    width: 100%;
    height: 100%;
    list-style: none;
    padding-left: 0px;
    margin: 0px;
}

li {
    margin-top: 20px;
}

#index {
    float: left;
}

#title {
    display: inline-block;
    margin-left: 35%;
}

#aboutUs {
    float: right;
}

nav a {
    background: #EAC67A;
    border:2px solid #233237;
    color:#18121E;
    text-align:center;
    white-space:nowrap;
    padding: 10px;
}

#home {
    background-color: black;
    color: white;
    text-align: center;
}

#wakeUp {
    background-color: yellow;
}