header {
    background-color: #EAC67A;
}

body {
    height: 100%;
    margin: 0px;
    background-color: #233237;
}

nav {
    text-align: center;
    display: inline-block;
    width: 100%;
}

#index {
    float: left;
    margin-left: 20px;
    list-style: none;
    padding-left: 0px;
    margin-top: 40px;
}

#aboutUs {
    float: right;
    margin-right: 20px;
    list-style: none;
    padding-left: 0px;
    margin-top: 40px;
}

h1 {
    clear: both;
    display: inline-block;
    margin: 20px;
    font-size: 50px;
    color: #18121E;
    text-align: center;
    font-family: 'Indie Flower', cursive;
    font-weight: bold;
}

nav a, button {
    text-decoration: none;
    background: #984B43;
    border:2px solid #233237;
    color:#EAC67A;
    text-align:center;
    white-space:nowrap;
    padding: 10px;
    font-family: 'Indie Flower', cursive;
    font-weight: bold;
}

@keyframes fadeIn {
  0% {
    opacity:0;
  }
  90% {
    opacity:.1;
  }
  100% {
    opacity: 1;
  }
}

.fade-in {
  animation: fadeIn ease 7s;
  -webkit-animation: fadeIn ease 7s;
  -moz-animation: fadeIn ease 7s;
  -o-animation: fadeIn ease 7s;
  -ms-animation: fadeIn ease 7s;
}

@keyframes fadeIn-s {
  0% {
    opacity:0;
  }
  90% {
    opacity:.1;
  }
  100% {
    opacity: 1;
  }
}

.fade-in-short {
  animation: fadeIn-s ease 3s;
  -webkit-animation: fadeIn-s ease 3s;
  -moz-animation: fadeIn-s ease 3s;
  -o-animation: fadeIn-s ease 3s;
  -ms-animation: fadeIn-s ease 3s;
}

main {
    width: 90%;
    margin: 0 auto;
    text-align: center;
}

/* home page */

#welcome {
    color: white;
    font-family: 'Indie Flower', cursive;
    padding: 100px;
}

#nameForm {
    position: fixed;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    background-color: black;
    color: white;
    font-size: 40px;
    font-family: 'Indie Flower', cursive;
}

#hello input {
    height: 30px;
}

#wakeUp {
    background-color: yellow;
    color: black;
    height: 50px;
    width: 200px;
    margin-top: 50px;
    font-size: 20px;
}

#wakeUp:hover {
    background-color: black;
    color: yellow;
}

.story {
    width: 100%;
}

#apt {
    background-image: linear-gradient(to bottom, rgba(255,255,255,0.6) 0%,rgba(255,255,255,0.6) 100%), url(../img/bedroom.jpg);
    background-size: 100% 100%;
    background-repeat: no-repeat;
    height: 700px;
}

#intro {
    width: 800px;
    font-size: 40px;
    margin: 0 auto;
    padding-top: 100px;
    padding-bottom: 50px;
    font-family: 'Indie Flower', cursive;
    line-height: 2.5;
}

#startButton {
    padding: 35px;
    font-size: 25px;
}

#scenes {
    display: none;
    background-size: 100% 100%;
    background-repeat: no-repeat;
    height: 700px;
    padding: 50px;
}

#nextScene {
    margin: 0 auto;
    padding: 35px;
    font-size: 25px;
    margin-top: 50px;
}

#option1, #option2 {
    padding: 35px;
    font-size: 25px;
    margin-right: 50px;
    margin-top: 50px;
}

#option1:hover, #option2:hover, #nextScene:hover, #startButton:hover {
    background: #EAC67A;
    color: #984B43;
}

footer {
    height: 100px;
    background-color: #EAC67A;
}

canvas {
  width: 90%;
}

#mute {
  float: right;

}

#muteButton {
  z-index: 2;
  width: 30px;
  height: 30px;
}
