* {
    outline: 1px dashed red;
}

header {
    background-color: #EAC67A;
}

body {
    height: 100%;
    margin: 0px;
    background-color: #233237;
}

nav {
    text-align: center;   
    display: inline-block;
    width: 100%;   
}

#index {
    float: left;
    margin-left: 20px;
    list-style: none;
    padding-left: 0px;
    margin-top: 40px;
}

#aboutUs {
    float: right;
    margin-right: 20px;
    list-style: none;
    padding-left: 0px;
    margin-top: 40px;
}

h1 {
    clear: both;
    display: inline-block;
    margin: 20px;
    font-size: 50px;
    color: #18121E;
    text-align: center;
}

nav a {
    text-decoration: none;
    background: #984B43;
    border:2px solid #233237;
    color:#EAC67A;
    text-align:center;
    white-space:nowrap;
    padding: 10px;
}

main {
    height: 700px;
    width: 90%;
    margin: 0 auto;
    text-align: center;
}

footer {
    height: 100px;
    background-color: #EAC67A;
}

div {
    background-image: url("../img/lunch-with-friends.jpg");
    background-size: 100% 100%;
    background-repeat: no-repeat;
    height: 80%;
    width: 100%;
    margin: 0 auto;
}

#leftAside {
    float: left;
}

#rightAside {
    float: right;
}