* {
    border: 1px dashed red;
}

header, footer {
    height: 100px;

body {
    height: 100%;
}

nav {
    display: inline-block;
    width: 100%;
    height: 100%;
}

ul {
    display: inline-block;
    width: 100%;
    height: 100%;
    list-style: none;
    padding-left: 0px;
    margin: 0px;
}

li {
    margin-top: 20px;
}

#index {
    float: left;
}



#title {
    display: inline-block;
    margin-left: 35%;
}

#aboutUs {
    float: right;
}

nav a {
    background: #EAC67A;
    border:2px solid #233237;
    color:#18121E;
    text-align:center;
    white-space:nowrap;
    padding: 10px;
}

main {
    width: 90%;
    margin: 0 auto;
    text-align: center;
}

#nameForm:hide {
    display: none;
}

#nameForm {
    position: fixed;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    background-color: black;
    color: white;
    font-size: 40px;
    height: 100%;
    width: 100%;
}

#nameForm canvas {
    margin-top: 10%;
}
#nameForm p {
    margin-top: 10%;
}

#nameForm p input {
    height: 30px;
}

#wakeUp {
    background-color: yellow;
    height: 50px;
    width: 200px;
}