header {
    background-color: #EAC67A;
}

body {
    height: 100%;
    margin: 0px;
    background-color: #233237;
}

nav {
    text-align: center;   
    display: inline-block;
    width: 100%;     
}

#index {
    float: left;
    margin-left: 20px;
    list-style: none;
    padding-left: 0px;
    margin-top: 40px;
}

#aboutUs {
    float: right;
    margin-right: 20px;
    list-style: none;
    padding-left: 0px;
    margin-top: 40px;
}

h1 {
    clear: both;
    display: inline-block;
    margin: 20px;
    font-size: 50px;
    color: #18121E;
    text-align: center;
    font-family: 'Indie Flower', cursive;
    font-weight: bold;
}

nav a {
    text-decoration: none;
    background: #984B43;
    border:2px solid #233237;
    color:#EAC67A;
    text-align:center;
    white-space:nowrap;
    padding: 10px;
    font-family: 'Indie Flower', cursive;
}

main {
    background-image: linear-gradient(to bottom, rgba(255,255,255,0.6) 0%,rgba(255,255,255,0.6) 100%), url(../img/living-room.jpg);
    background-size: 100% 100%;
    background-repeat: no-repeat;
    height: 700px;
    width: 90%;
    margin: 0 auto;
}

h2 {
    font-size: 35px;
    text-align: center;
    padding: 20px;
    font-family: 'Indie Flower', cursive
}

p {
    font-size: 25px;
    font-family: 'Indie Flower', cursive
}

#restart, #friends {
    padding: 20px;
    font-size: 25px;
}

#restart:hover, #friends:hover {
    background: #EAC67A;
    color: #984B43;
}

footer {
    height: 100px;
    background-color: #EAC67A;
}

#summary1, #summary2, #summary3, #summary4, #summary5, #summary6 {
    margin-bottom: 20px;
}